@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root{
   --primary-text : #969696 ;
   --secondary-text : #CACACA;
   --primary-green : #74B504 ;
   --secondary-green : #5F9700 ;
   --primary-blue : #427EE3;
   --secondary-blue : #0653D5;
}

body{
    font-family: "Roboto", sans-serif;

}

html {
  scroll-behavior: smooth;
}
.btn-primary {
  background-color: #74B504 ; 
  padding: 0.5rem 3rem; 
  border-radius: 0.375rem; 
  font-size: 1rem; 
  font-family: 'YourSecondaryFont', sans-serif; 
  font-weight: 700; 
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #5F9700; 
  color: white;
}