@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans+Thai:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --primary-text : #969696 ;
   --secondary-text : #CACACA;
   --primary-green : #74B504 ;
   --secondary-green : #5F9700 ;
   --primary-blue : #427EE3;
   --secondary-blue : #0653D5;
}

body{
    font-family:  "Chiron Hei HK", sans-serif;
      font-optical-sizing: auto;

}